<div class="container">
    <h1>{{textBottom}}</h1>
    <br>
    <form #specialtyForm="ngForm" (ngSubmit)="onSubmit(specialtyForm.value)">
        <div class="input-group mb-3">
            <span class="input-group-text">Specialty</span>
            <input type="text" class="form-control" required [(ngModel)]="spe.name" name="name" #nombre="ngModel"
                id="floatingInputGroup1" placeholder="Nombre">
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-primary" [disabled]="!specialtyForm.valid">{{textBottom}}</button>
            <button type="button" class="btn btn-danger mx-1" (click)="cancel()">Cancelar</button>
        </div>
    </form>
    <a class="btn btn-warning d-flex justify-content-center mt-3" routerLink="/" role="button">Volver atrás</a>
    <br>
</div>