<div class="container">
    <h2>Specialties types</h2>
    @for (espe of espes; track $index) {
    <table class="table table-striped table-hover">
        <tr>
            <td colspan="2">
            <div class="d-flex align-items-center">
            <th colspan="2">Name</th>

            <input type="text" [value]="espe.name" readonly class="form-control me-2" style="width: auto;" />


            <button class="btn btn-default me-2" (click)="visualizar(espe.id,espe.name)" >Edit speciality</button>


            <button class="btn btn-default" (click)="BorraSpecialty(espe.id, espe.name)" >Delete speciality</button>
            </div>
            </td>
        </tr>

    </table>


    }
<a class="me-3">
    <button class="btn btn-default" (click)="visualizar()">Add</button></a>
<!--Muy atebto a esto-->
@if (visualiza) {
    <app-specialty-add [speId]="is_editando" [speName]="nameSpe"  (anadeModSpe)="anadeModSpe($event)" (cancelEdit)="cancelarEdicion()"></app-specialty-add>
}
</div>
